html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
}
/*
  Button
*/
.button-start {
    --color: var(--white);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 2em;
    border: 1px;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
.button-start::before, .button-start::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--light);
    transition: 0.5s ease;
}
.button-start::before {
    top: -1em;
    left: -1em;
}
.button-start::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.button-start:hover::before, .button-start:hover::after {
    height: 410px;
    width: 410px;
}
.button-start:hover {
    color: var(--white);
}
.button-start:active {
    filter: brightness(.8);
}
/* END */