html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
}
@font-face {
  font-family: 'BubbleWaterRegular';
  src: url('/font/BubbleWaterRegular.ttf');
}
/*  Buttons
*/
.footer-button {
    font-size: 18px;
    font-family: BubbleWaterRegular;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .footer-button:focus,
  .footer-button:hover {
    color: var(--light);
  }
  
  .footer-button:focus:after,
  .footer-button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .footer-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--light);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

table{
  border-collapse: collapse;
  z-index: 2;
}
.left-table{
  padding-right: 3em;
}
.right-table{
  padding-left: 3em;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


td {
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
  text-align: center;
  vertical-align: middle;
}

.draggable-boat {
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  size: 2em;

}
/*#################*/
/* Blaues Boot 1 */
#bb1{

}
/* Rotes Boot 1 */
#br1{

}
/* Blaues Boot 2 */
#bb2{

}

#bb2a{

}
/* Rotes Boot 2 */
#br2{

}

#br2a{

}
/* Blaues Boot 3 */
#bb3{

}

#bb3a{

}

#bb3b{

}
/* Rotes Boot 3 */
#br3{

}

#br3a{

}

#br3b{

}
/* Blaues Boot 4 */
#bb4{

}

#bb4a{

}

#bb4b{

}

#bb4c{

}
/* Rottes Boot 4 */
#br4{

}

#br4a{

}

#br4b{

}

#br4c{

}
/*#################*/
.player1-container{
  margin-left: 2em;
  list-style-image: 100%;
}

.player2-container{
  margin-right: 2em;
}

  .boot-container{
    padding: 2em 2em;
    border-radius: 30px;
    background: rgba(230,230,230, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  }

  .player-text{
    font-family: 'BubbleWaterRegular';
    color: var(--white);
  }

  .boot-group img {
    width: 2em;
    height: 2em;
    margin-right: 5px;
    object-fit: cover;
}

  .boot{
    margin: 0.4em;
  }


/*  END
*/

/*  Footer
*/
.Game-Interface-Create{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/*  END
*/
#schusstext{
    color: white;
    font-family: 'BubbleWaterRegular';
    font-size: larger;
    font-weight: lighter;
}

#canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto 0;
  z-index: 1;
}

#schussCanvas {
  width: 100%; /* Ändere die Breite nach Bedarf */
  height: 100%; /* Ändere die Höhe nach Bedarf */
  position: relative;
}

.schussdiv{
  margin-top: 10em;
  z-index: 3;
  font-size: larger;
  text-align: center;
}
#formelcontainer{

}
.schussinputfield{
  width: 1.5em;
  text-align: center;
}
.schussbutton{
  font-family: 'BubbleWaterRegular';
  margin-top: 1em;
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89e5ff1f 0%, #5468ff18 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.schussbutton:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.schussbutton:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe02f;
  transform: translateY(0em);
}