html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
}
@font-face {
  font-family: 'BubbleWaterRegular';
  src: url('/font/BubbleWaterRegular.ttf');
}
/*  Buttons
*/
.footer-button {
    font-size: 18px;
    font-family: BubbleWaterRegular;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .footer-button:focus,
  .footer-button:hover {
    color: var(--light);
  }
  
  .footer-button:focus:after,
  .footer-button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .footer-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--light);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

table{
  border-collapse: collapse;
}
.left-table{
  padding-right: 3em;
}
.right-table{
  padding-left: 3em;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


td {
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
  text-align: center;
  vertical-align: middle;
}

.draggable-boat {
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  size: 2em;

}

.invisible {  visibility: hidden !important;}

.hide {
  display : none;
  visibility: hidden !important;
}

.show {
  display : block;
  visibility:visible !important;
}
/*#################*/
/* Blaues Boot 1 */
#bb1{

}
/* Rotes Boot 1 */
#br1{
  
}
/* Blaues Boot 2 */
#bb2{

}

#bb2a{

}
/* Rotes Boot 2 */
#br2{

}

#br2a{

}
/* Blaues Boot 3 */
#bb3{

}

#bb3a{

}

#bb3b{

}
/* Rotes Boot 3 */
#br3{

}

#br3a{

}

#br3b{

}
/* Blaues Boot 4 */
#bb4{

}

#bb4a{

}

#bb4b{

}

#bb4c{

}
/* Rottes Boot 4 */
#br4{

}

#br4a{

}

#br4b{

}

#br4c{

}
/*#################*/
.player1-container{
  margin-left: 2em;
  list-style-image: 100%;
}

.player2-container{
  margin-right: 2em;
}

  .boot-container{
    padding: 2em 2em;
    border-radius: 30px;
    background: rgba(230,230,230, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  }

  .player-text{
    font-family: 'BubbleWaterRegular';
    color: var(--white);
  }

  .boot-group img {
    width: 2em;
    height: 2em;
    margin-right: 5px;
    object-fit: cover;
}

  .boot{
    margin: 0.4em;
  }


/*  END
*/

/*  Footer
*/
.Game-Interface-Create{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/*  END
*/
#schusstext{
    color: white;
    font-family: 'BubbleWaterRegular';
    font-size: larger;
    font-weight: lighter;
}
#schussplayer{
    color: white;
    font-family: 'BubbleWaterRegular';
    font-size: larger;
    font-weight: lighter;
}
#canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto 0;
}

#schussCanvas {
  width: 100%; /* Ändere die Breite nach Bedarf */
  height: 100%; /* Ändere die Höhe nach Bedarf */
  position: relative;
}
/*.schussdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Dies sorgt dafür, dass der Bereich die volle Höhe des Bildschirms einnimmt */
/*}

.input-group {
  margin-top: 20px; /* Verändere diesen Wert nach Bedarf */
/*}

.schussbutton {
  margin-top: 20px; /* Verändere diesen Wert nach Bedarf */
/*}*/
