html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
}
@font-face {
    font-family: 'BubbleWaterRegular';
    src: url('/font/BubbleWaterRegular.ttf');
}
h1{
    font-family: BubbleWaterRegular;
}
table {
    margin: 1rem auto;
  }
  
  td {
    padding: 0.5rem;
  }
  