/*  MAIN CSS
*/
html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
    font-family: 'BubbleWaterRegular';
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    font-family: 'BubbleWaterRegular';
}
/*  END
*/

/*  Global
*/
.bg-img{
    background-image: url(/img/bg.jpg);
}
@font-face {
    font-family: 'BubbleWaterRegular';
    src: url('/font/BubbleWaterRegular.ttf');
}

/*  END
*/

/*  Header Index
*/
.title-div{
    text-align: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: white;
    width: 400px;
}
.title-text{
    white-space: nowrap;
    font-size: 4em;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'BubbleWaterRegular';

}
/*  END
*/

/*  Game Interface
*/
.Game-Interface-Start{
    margin: auto;
    width:14em;
}
/*  END
*/

/*  Footer
*/
#index-footer{
    font-family: 'BubbleWaterRegular';
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    border-radius: 1em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#creators{
    font-size: 1.5em;
    color: var(--white);
}
#copyright{
    color: var(--white);
    padding-bottom: 0.5em;
}
/*  END
*/


.cover-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



  
