html{
    --black: #070600ff;
    --white: #f7f7ffff;
    --dark: #3066beff;
    --mid: #2ca6a4ff;
    --light: #00c2d1ff;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.cover-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@font-face {
    font-family: 'BubbleWaterRegular';
    src: url('/font/BubbleWaterRegular.ttf');
}
h1{
    font-family: BubbleWaterRegular;
    padding-top: 0.5em;
    font-size: 3em;
}
.Game-Start-Button {
    margin-top: 30vh;
}
table {
    border-collapse: collapse;
  }
  td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
  }
