/* Global Css
*/
@font-face {
    font-family: 'BubbleFont';
    src: url(/private/font/BubbleWaterRegular.ttf);
}

html{
    --black: #191716;
    --white: #FCFCFC;
    --light: #5EB1BF;
    --dark: #3066BE;
    --hightlight: #FF4A1C;
    font-family: 'BubbleFont', sans-serif;
}
body, h1, h2, p{
    font-family: 'BubbleFont';
}
.bg-img{
    background-image: url(/private/img/bg.jpg);
}
/* End
*/

/* 
    Start HTML
*/
#animatedTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    animation: changeTitle 3s infinite;
}
@keyframes changeTitle {
    0%, 100% {
        content: "\f21a Schlauchboot Versenken";
    }
    25% {
        content: "\f21a S - Battleship";
    }
    50% {
        content: "\f21a Sc - Battleship";
    }
    75% {
        content: "\f21a Sch - Battleship";
    }
}
.body-start{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100%;
}

/* Header
*/
.title-div{
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 400px;
}
.title-text{
    color: var(--white);
    white-space: nowrap;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Main
*/
.Game-Interface-Start{
    margin: auto;
    width:14em;
}
.button-start {
    color: var(--white);
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 2em;
    border: 1px;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
}
.button-start::before, .button-start::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--light);
    transition: 0.5s ease;
}
.button-start::before {
    top: -1em;
    left: -1em;
}
.button-start::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.button-start:hover::before, .button-start:hover::after {
    height: 410px;
    width: 410px;
}
.button-start:hover {
    color: var(--white);
}
.button-start:active {
    filter: brightness(.8);
}
#button-start-text{
    font-family: 'BubbleFont';
}
/* Footer
*/
#index-footer{
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    border-radius: 1em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#creators{
    color: var(--white);
    font-size: 1.6em;
    font-weight: 50;
}
#copyright{
    color: var(--white);
    margin-top: -10px;
    padding-bottom: 0.5em;
}



/* 
    Game HTML
*/




/* Footer
*/
.footer-button {
    font-size: 18px;
    font-family: BubbleWaterRegular;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
.footer-button:focus,
.footer-button:hover {
    color: var(--light);
}
  
.footer-button:focus:after,
.footer-button:hover:after {
    width: 100%;
    left: 0%;
}
  
.footer-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--light);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}