/* Global Css
*/
@font-face {
    font-family: 'BubbleFont';
    src: url(/private/font/BubbleWaterRegular.ttf);
}

html{
    --black: #191716;
    --white: #FCFCFC;
    --light: #5EB1BF;
    --dark: #3066BE;
    --hightlight: #FF4A1C;
    font-family: 'BubbleFont', sans-serif;
}

.bg-img{
    background-image: url(/private/img/bg.jpg);
}
/* End
*/

/* 
    Start HTML
*/

/* Header
*/
.title-div{
    text-align: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: white;
    width: 400px;
}
.title-text{
    white-space: nowrap;
    font-size: 4em;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* End
*/

/* Main
*/

/* End
*/